<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <JorgeMurta_BrandDirectory>
            <version>0.0.1</version>
        </JorgeMurta_BrandDirectory>
    </modules>

    <global>
        <models>
                <jorgemurta_branddirectory>
                    <class>JorgeMurta_BrandDirectory_Model</class>
                    <resourceModel>jorgemurta_branddirectory_resource</resourceModel>
                </jorgemurta_branddirectory>

                <jorgemurta_branddirectory_resource>
                    <entities>
                        <brand>
                            <table>jorgemurta_branddirectory_brand</table>
                        </brand>
                    </entities>
                </jorgemurta_branddirectory_resource>
        </models>

        <resources>
            <jorgemurta_branddirectory_setup>
                <setup>
                    <module>JorgeMurta_BrandDirectory</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </jorgemurta_branddirectory_setup>
        </resources>

        <blocks>
            <jorgemurta_branddirectory_adminhtml>
               <class>JorgeMurta_BrandDirectory_Block_Adminhtml</class>
            </jorgemurta_branddirectory_adminhtml>
        </blocks>

        <helpers>
            <jorgemurta_branddirectory>
                <class>JorgeMurta_BrandDirectory_Helper</class>
            </jorgemurta_branddirectory>
        </helpers>

    </global>

    <admin>
        <routers>

            <!-- This is the alias for this router. -->
            <jorgemurta_branddirectory_admin>

                <!--
                This basically informs Magento to use the
                admin scope for requests to this router.
                -->
                <use>admin</use>

                <args>
                    <!--
                    This tells Magento where to find
                    adminhtml controllers for this module.
                    -->
                   <module>JorgeMurta_BrandDirectory_Adminhtml</module>

                    <!-- This is the term used in the actual URL. -->
                    <frontName>brand-directory-admin</frontName>
                </args>

            </jorgemurta_branddirectory_admin>

        </routers>
    </admin>
</config>
